.slider {
    margin: 0 auto;
    margin-top: 50px;
    width: 640px;
    /* height: 320px; */
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 5px solid; 
    border-color: white;
  }
  
  .slider * {
    width: 100%;
    animation: slide-left 25s ease infinite;
  }
  
  /* .img:hover {
    transform: translateX(-100%);
  } */
  @keyframes slide-left {
    0% {
      transform:  translateX(0%); 
    }
    10% {
      transform: translateX(-100%);
    }
    20% {
      transform: translateX(-200%);
    }
    30% {
      transform:  translateX(-300%);
    }
    40% {
        transform:  translateX(-400%);
      }
    50% {
        transform: translateX(-500%);
      }
    60% {
        transform: translateX(-600%);
      }
    70% {
        transform:  translateX(-700%);
      }
  }
