article {
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.slider {
    margin: 300px auto;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    align-items: center;
    width: 800px;
    height: 250px;
    /* justify-content: center;
    flex-wrap: nowrap; */
    /* flex-wrap: wrap; */    
}
#main{
    transform: scale(1.5);
    z-index: 3; 
}
#main:hover{
    transition: 0.5s;
    transform: scale(6);
}

.img {  
    /* display: inline-block; */
    transform: scale(1);
    border: 5px solid; 
    border-color: white;
    /* margin-right: 5px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 30%; 
    /* height: 100px; */
}
/* .img:hover{
    transition: 0.5s;
    transform: scale(6);
    z-index: 4;
} */

.back{
    margin-right: 10px;
    float: left;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 7;
    border-radius: 5px;
}

.forw{
    margin-left: 10px;
    float: right;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 7;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 600px;
    justify-content: center;
}

#progress {
margin-left: 44%;
    height: 30px;
}